<!DOCTYPE html>
<html>
	<head>
		<title>Edde2 Root Module</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/.edde/css/kube.css">
		<link rel="stylesheet" href="/.edde/css/selectize.css">
		<link rel="stylesheet" href="/.edde/css/font-awesome.css">
		<link rel="stylesheet" href="/.edde/css/web.css">

		<script type="text/javascript" src="/.edde/js/jquery.js"></script>
		<script type="text/javascript" src="/.edde/js/jquery.selectize.js"></script>
		<script type="text/javascript" src="/.edde/js/web.js"></script>
	</head>
	<body>
		<div class="unit-75 unit-centered unit-padding">
			<h1>Edde2 Root Module</h1>
			<hr>
			{control FlashMessageControl}
			{include content}
		</div>
	</body>
</html>
