{block content}
	<h3>Kořenová správa aplikace</h3>
	<p>
		Tento modul obsahuje nástroje užitečné pro vývoj aplikace; jejich využití v reálně nasazené aplikaci může vést ke ztrátě dat, proto velice pečlivě promýšlejte, na co klikáte.
	</p>
	<div class="units-row">
		{control RebuildControl}
	</div>
	<hr>
	<div class="units-row">
		{control CacheControl}
	</div>
{/block}
