parameters:
	router:
		- Nette\Application\Routers\CliRouter
		- CommonRouter
	loader:
		- %tempDir%/model
	model:
		# možnost definovat, které připojení holder využije; ve výchozím stavu hledá default připojení; není potřeba definovat, pokud má aplikace právě jedno připojení
		#connection: my-app
		# přípona souborů s modely (dle této přípony se budou vyhledávat)
		mask: *.model
		# kořenový adresář pro vyhledávání modelů
		path: %appDir%
		# namespace modelů, do kterého se vygenerují
		namespace: App
		# nastavení generátoru
		generator:
			path: %tempDir%/model
		import-path: %appDir%
		# možnost změnit třídu, která se postará o načtení konfigurace modelů
		#loader-service: NeonLoaderService
php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes

nette:
	debugger:
		stricMode: true
		maxLen: 4096
		maxDepth: 4
