{block content}
	<div class="unit-60 unit-centered">
		<h3>Ahoj světe. Já jsem Edde2 Barebone.</h3>
		<p>
			chceš-li využít vlastností automatického deploymentu, klikni <a href="/.edde/index.php/edde">sem</a>.
		</p>
	</div>
{/block}
