<div>
	{control FlashMessageControl}
	<div class="units-row">
		{control deploy}
	</div>
	<hr>
	<div class="units-row">
		{control upgrade}
	</div>
	<hr>
	<div class="units-row">
		{control maintenance}
	</div>
	<hr>
	<div class="units-row">
		{control cache}
	</div>
</div>
