<h3>Přepnutí údržby</h3>
{control FlashMessageControl}
<p>
	Pokud je nutné z nějakého důvodu aplikaci odstavit a přepnout do režimu údržby, lze tak učinit touto komponentou.
</p>
<button class="simple-ajax btn btn-red" data-ajax="{link offline}">Odstavit aplikaci</button>
<button class="simple-ajax btn btn-green" data-ajax="{link online}">Aktivovat aplikaci</button>
