<!DOCTYPE html>
<html>
	<head>
		<title>Edde2 Sandbox</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/kube.css">
		<link rel="stylesheet" href="css/selectize.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/web.css">

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/jquery.selectize.js"></script>
		<script type="text/javascript" src="js/web.js"></script>
	</head>
	<body>
		{control FlashMessageControl}
		{include content}
	</body>
</html>
